.select {
	display: block;

	box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 0.9285714286em 0.7857142857em;

	transition: 0.2s all;
	word-break: normal;

	color: #333;
	border: 1px #E5E5E5 solid;
	border-color: #D9D9D9;
	border-radius: 5px;
	background-color: white;
	background-clip: padding-box;

	line-height: inherit;
	appearance: none;
}

.select::after {
	position: absolute;
	content: 'Super';
	color: green;
	
}

.select__icon {
	position: absolute;
	display: flex;
	align-items: center;
	right: 20px;
	top: 0;
	height: 100%;
}

.select__icon svg {
	height: 1.3em;
	width: 1.3em;
}

.select:focus {
	border-color: #E42C00;
	outline: none;
	box-shadow: 0 0 0 1px #E42C00;
	box-shadow: 0 0 0 1px #E42C00;
}

.select__wrapper {
	position: relative;

	box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 0.4285714286em;
}

.select__half {
	width: 50%;
}
