.body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;

	width: 100%;
	height: 100%;
	row-gap: 30px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
	gap: 30px;
}

.products__empty {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pag {
	display: flex;
	justify-content: center;
}

.filters {
	display: flex;
	align-items: center;
	width: 50%;
}
.filters label {
	white-space: nowrap;
}

.input {
	width: 100%;
}

.input label {
	margin-left: 0.4285714286em;
}

@media (max-width: 992px) {
  	.header__title {
		display: none;
	}

	.filters {
		width: 100%;
	}

}