.body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;

	width: 100%;
	height: 100%;
	row-gap: 30px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
	gap: 30px;
}

.pag {
	justify-content: center;
	display: flex;
}
