.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr auto;

	min-height: 100vh;
	gap: 0 30px;
	grid-template-areas:
		"header"
		"menu"
		"body"
		"footer";
}

.header {
	background-color: #403B37;
	grid-area: header;
}

.menu {
	max-width: 1280px;
	margin: 0 auto;
	padding: 30px;
	grid-area: menu;
}

.body {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 30px;
	grid-area: body;
}

.footer {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
	grid-area: footer;
}

.body__loader {
	position: absolute;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255 255 255 / 40%);
	z-index: 10;
}

@media (max-width: 992px) {
	.body {
		padding: 15px 30px 30px;
	}
}