.h1 {
	margin: 0;

	transition: all 0.3s;

	color: #42403E;

	font-size: 26px;
	font-weight: 500;
	line-height: 38px;
}

.h2 {
	margin: 0;

	transition: all 0.3s;

	color: #42403E;

	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.h3 {
	margin: 0;

	transition: all 0.3s;

	color: #42403E;

	font-size: 1em;
	font-weight: 700;
}

.h4 {
	transition: all 0.3s;

	color: #42403E;
}

.h5 {
	transition: all 0.3s;

	color: #42403E;
}

.h6 {
	transition: all 0.3s;

	color: #42403E;
}
